<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright © 2020 CreenSight. All rights reserved.
 * @author CreenSight Development Team <magento@creensight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <quickflushcache>
            <general>
                <enabled_flush_cache>1</enabled_flush_cache>
                <enabled_reindex>1</enabled_reindex>
            </general>
        </quickflushcache>
    </default>
</config>
