<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright © 2020 CreenSight. All rights reserved.
 * @author CreenSight Development Team <magento@creensight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="CreenSight_QuickFlushCache::controller_action_predispatch" instance="CreenSight\QuickFlushCache\Observer\ControllerActionPredispatch"/>
    </event>
</config>
